<div class="col-sm-12 grid-margin stretch-card">
    <div class="card ">
        <div class="card-body">
            <h4 class="card-title">Product Details</h4>
            <p class="card-description">

            </p>
                <div class="pro_tbl">
                <table class="table table-hover " id="tblProduct" >
                    <thead>
                        <tr>
                            <th>Sr.No.</th>
                            <th>Product Name</th>
                            <th>Status</th>
                            <th>Tax Include</th>
                            <th>Price</th>
                            <th>Discription</th>
                            <th>SKU</th>
                            <th>Unit</th>
                            <th>Action</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tblproductbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

