<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Add Products</h3>
            <p class="card-description"></p>
            <form class="forms-sample">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleSelectGender">Product Id :</label>
                            <select class="form-control" id="id" name="id" placeholder="Product ID">
                                <option>ProductID_001</option>
                                <option>ProductID_002</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName1">Product Parent's Categorty :</label>
                            <input type="number" class="form-control" id="group_id" name="group_id" placeholder="Parent Category">
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail3">Child Category : </label>
                            <input type="number" class="form-control" id="attribute_set_id" name="attribute_set_id" placeholder="Child Category">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName1">Product Title/Name :</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Product Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName1">Taxes Include :</label>
                            <input type="number" class="form-control" id="tax_id" name="tax_id" placeholder="Taxes Include">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName1">Product Price :</label>
                            <input type="number" class="form-control" id="price" name="price" placeholder="Product Price">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputPassword4">Product Description</label>
                            <textarea type="text" class="form-control" id="description" name="description" placeholder="Product Description"></textarea>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName1">Product SKU :</label>
                            <input type="text" class="form-control" id="sku" name="sku" placeholder="Product SKU">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName1">Unit (kg/pc/lb/ml/g...etc) :</label>
                            <input type="number" class="form-control" id="stock" name="stock" placeholder="Unit (kg/pc/lb/ml/g...etc)">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                            <button class="btn btn-light">Cancel</button>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>
