@model SharedModel.Models.Category
@using newdesh.Models
@using SharedModel.Models
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ManuItems items = new ManuItems();
    List<Category> lst = items.GetMenuType();
    Category ct = new Category();


<main>
    <!-- section -->
    <div class=" mt-8 mb-lg-14 mb-8">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row gx-10">
                <!-- col -->
                <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
                    <div class="offcanvas offcanvas-start offcanvas-collapse w-md-50 " tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">

                        <div class="offcanvas-header d-lg-none">
                            <h5 class="offcanvas-title" id="offcanvasCategoryLabel">Filter</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body ps-lg-2 pt-lg-0">
                            <div class="mb-8">
                                <!-- title -->
                                <h5 class="mb-3">Categories</h5>
                                <!-- nav -->
                                <ul class="nav nav-category" id="categoryCollapseMenu">

                                    @foreach (Category cat in items.GetProductCategory())
                                    {
                                        string id = "categoryFlushOne" + cat.category_name;
                                        <li class="nav-item border-bottom w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#@id" aria-expanded="false" aria-controls="@id">
                                            <a href="#" class="nav-link">@cat.category_name <i class="feather-icon icon-chevron-right"></i></a>
                                            
                                            <div id="@id" class="accordion-collapse collapse" data-bs-parent="#categoryCollapseMenu">
                                                <div>
                                                    
                                                    <ul class="nav flex-column ms-3">
                                                        @foreach (Category subcat in items.GetMenuSubCategory(cat.id))
                                                        {
                                                            <li class="nav-item"><a href="#!" class="nav-link">@subcat.category_name</a></li>
                                                        }
                                                        </ul>
                                                </div>
                                            </div>

                                        </li>

                                    }

                                        

                                    </ul>
                            </div>


                            <div class="mb-8">
                                <!-- price -->
                                <h5 class="mb-3">Price</h5>
                                <div>
                                    <!-- range -->
                                    <div id="priceRange" class="mb-3 noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr"><div class="noUi-base"><div class="noUi-connects"><div class="noUi-connect" style="transform: translate(14.6259%, 0px) scale(0.510204, 1);"></div></div><div class="noUi-origin" style="transform: translate(-85.3741%, 0px); z-index: 5;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="6.0" aria-valuemax="199.0" aria-valuenow="49.0" aria-valuetext="$49"><div class="noUi-touch-area"></div></div></div><div class="noUi-origin" style="transform: translate(-34.3537%, 0px); z-index: 4;"><div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="49.0" aria-valuemax="300.0" aria-valuenow="199.0" aria-valuetext="$199"><div class="noUi-touch-area"></div></div></div></div></div>
                                    <small class="text-muted">Price:</small> <span id="priceRange-value" class="small">$49 - $199</span>

                                </div>



                            </div>
                            <!-- rating -->
                            <div class="mb-8">

                                <h5 class="mb-3">Rating</h5>
                                <div>
                                    <!-- form check -->
                                    <div class="form-check mb-2">
                                        <!-- input -->
                                        <input class="form-check-input" type="checkbox" value="" id="ratingFive">
                                        <label class="form-check-label" for="ratingFive">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning "></i>
                                            <i class="bi bi-star-fill text-warning "></i>
                                            <i class="bi bi-star-fill text-warning "></i>
                                            <i class="bi bi-star-fill text-warning "></i>
                                        </label>
                                    </div>
                                    <!-- form check -->
                                    <div class="form-check mb-2">
                                        <!-- input -->
                                        <input class="form-check-input" type="checkbox" value="" id="ratingFour" checked="">
                                        <label class="form-check-label" for="ratingFour">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning "></i>
                                            <i class="bi bi-star-fill text-warning "></i>
                                            <i class="bi bi-star-fill text-warning "></i>
                                            <i class="bi bi-star text-warning"></i>
                                        </label>
                                    </div>
                                    <!-- form check -->
                                    <div class="form-check mb-2">
                                        <!-- input -->
                                        <input class="form-check-input" type="checkbox" value="" id="ratingThree">
                                        <label class="form-check-label" for="ratingThree">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning "></i>
                                            <i class="bi bi-star-fill text-warning "></i>
                                            <i class="bi bi-star text-warning"></i>
                                            <i class="bi bi-star text-warning"></i>
                                        </label>
                                    </div>
                                    <!-- form check -->
                                    <div class="form-check mb-2">
                                        <!-- input -->
                                        <input class="form-check-input" type="checkbox" value="" id="ratingTwo">
                                        <label class="form-check-label" for="ratingTwo">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star text-warning"></i>
                                            <i class="bi bi-star text-warning"></i>
                                            <i class="bi bi-star text-warning"></i>
                                        </label>
                                    </div>
                                    <!-- form check -->
                                    <div class="form-check mb-2">
                                        <!-- input -->
                                        <input class="form-check-input" type="checkbox" value="" id="ratingOne">
                                        <label class="form-check-label" for="ratingOne">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star text-warning"></i>
                                            <i class="bi bi-star text-warning"></i>
                                            <i class="bi bi-star text-warning"></i>
                                            <i class="bi bi-star text-warning"></i>
                                        </label>
                                    </div>
                                </div>


                            </div>
                            <div class="mb-8 position-relative">
                                <!-- Banner Design -->
                                <!-- Banner Content -->
                                <div class="position-absolute p-5 py-8">
                                    <h3 class="mb-0">Fresh Fruits </h3>
                                    <p>Get Upto 25% Off</p>
                                    <a href="#" class="btn btn-dark">Shop Now<i class="feather-icon icon-arrow-right ms-1"></i></a>
                                </div>
                                <!-- Banner Content -->
                                <!-- Banner Image -->
                                <!-- img --><img src="../assets/images/banner/assortment-citrus-fruits.png" alt="" class="img-fluid rounded-3">
                                <!-- Banner Image -->
                            </div>
                        </div>
                    </div>
                </aside>
                <section class="col-lg-9 col-md-12">
                    <!-- card -->
                    <div class="card mb-4 bg-light border-0">
                        <!-- card body -->
                        <div class=" card-body p-9">
                            <h2 class="mb-0 fs-1">Snacks &amp; Munchies</h2>
                        </div>
                    </div>
                    <!-- list icon -->
                    <div class="d-lg-flex justify-content-between align-items-center">
                        <div class="mb-3 mb-lg-0">
                            <p class="mb-0"> <span class="text-dark">24 </span> Products found </p>
                        </div>

                        <!-- icon -->
                        <div class="d-md-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="">

                                    <a href="shop-list.html" class="text-muted me-3"><i class="bi bi-list-ul"></i></a>
                                    <a href="shop-grid.html" class=" me-3 active"><i class="bi bi-grid"></i></a>
                                    <a href="shop-grid-3-column.html" class="me-3 text-muted"><i class="bi bi-grid-3x3-gap"></i></a>
                                </div>
                                <div class="ms-2 d-lg-none">
                                    <a class="btn btn-outline-gray-400 text-muted" data-bs-toggle="offcanvas" href="#offcanvasCategory" role="button" aria-controls="offcanvasCategory">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter me-2">
                                            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                        </svg> Filters
                                    </a>
                                </div>
                            </div>

                            <div class="d-flex mt-2 mt-lg-0">
                                <div class="me-2 flex-grow-1">
                                    <!-- select option -->
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected="">Show: 50</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div>
                                    <!-- select option -->
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected="">Sort by: Featured</option>
                                        <option value="Low to High">Price: Low to High</option>
                                        <option value="High to Low"> Price: High to Low</option>
                                        <option value="Release Date"> Release Date</option>
                                        <option value="Avg. Rating"> Avg. Rating</option>

                                    </select>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- row -->
                    <div class="row g-4 row-cols-xl-4 row-cols-lg-3 row-cols-2 row-cols-md-2 mt-2">

                        <!-- col -->
                        <div class="col">
                            <!-- card -->
                            <div class="card card-product">
                                <div class="card-body">

                                    <!-- badge -->
                                    <div class="text-center position-relative ">
                                        <div class=" position-absolute top-0 start-0">
                                            <span class="badge bg-danger">Sale</span>
                                        </div>
                                        <a href="shop-single.html">
                                            <!-- img --><img src="~/Content/assets/images/products/product-img-1.jpg" 
                                          alt="Grocery Ecommerce Template" class="mb-3 img-fluid">
                                        </a>
                                        <!-- action btn -->
                                        <div class="card-product-action">
                                            <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View"></i></a>
                                            <a href="shop-wishlist.html" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist"><i class="bi bi-heart"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- heading -->
                                    <div class="text-small mb-1">
                                        <a href="#!" class="text-decoration-none text-muted">
                                            <small>
                                                Snack &amp;
                                                Munchies
                                            </small>
                                        </a>
                                    </div>
                                    <h2 class="fs-6"><a href="shop-single.html" class="text-inherit text-decoration-none">Haldiram's Sev Bhujia</a></h2>
                                    <div>
                                        <!-- rating -->
                                        <small class="text-warning">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                        </small> <span class="text-muted small">4.5(149)</span>
                                    </div>
                                    <!-- price -->
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div>
                                            <span class="text-dark">$18</span> <span class="text-decoration-line-through text-muted">$24</span>
                                        </div>
                                        <!-- btn -->
                                        <div>
                                            <a href="#!" class="btn btn-primary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg> Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <div class="col">
                            <!-- card -->
                            <div class="card card-product">
                                <div class="card-body">
                                    <!-- badge -->
                                    <div class="text-center position-relative">
                                        <div class=" position-absolute top-0 start-0">
                                            <span class="badge bg-success">14%</span>
                                        </div>

                                        <a href="shop-single.html">
                                            <!-- img --><img src="~/Content/assets/images/products/product-img-2.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid">
                                        </a>
                                        <!-- action btn -->
                                        <div class="card-product-action">
                                            <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist"><i class="bi bi-heart"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- heading -->
                                    <div class="text-small mb-1">
                                        <a href="#!" class="text-decoration-none text-muted">
                                            <small>
                                                Bakery &amp;
                                                Biscuits
                                            </small>
                                        </a>
                                    </div>
                                    <h2 class="fs-6">
                                        <a href="shop-single.html" class="text-inherit text-decoration-none">NutriChoice Digestive </a>
                                    </h2>
                                    <div class="text-warning">
                                        <!-- rating -->
                                        <small>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                        </small> <span class="text-muted small">4.5 (25)</span>
                                    </div>
                                    <!-- price -->
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div>
                                            <span class="text-dark">$24</span>
                                        </div>
                                        <!-- btn -->
                                        <div>
                                            <a href="#!" class="btn btn-primary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg> Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <div class="col">
                            <!-- card -->
                            <div class="card card-product">
                                <div class="card-body">
                                    <!-- badge -->
                                    <div class="text-center position-relative">
                                        <a href="shop-single.html"><img src="~/Content/assets/images/products/product-img-3.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                        <!-- action btn -->
                                        <div class="card-product-action">
                                            <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist"><i class="bi bi-heart"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- heading -->
                                    <div class="text-small mb-1">
                                        <a href="#!" class="text-decoration-none text-muted">
                                            <small>
                                                Bakery &amp;
                                                Biscuits
                                            </small>
                                        </a>
                                    </div>
                                    <h2 class="fs-6">
                                        <a href="shop-single.html" class="text-inherit text-decoration-none">Cadbury 5 Star Chocolate</a>
                                    </h2>
                                    <div class="text-warning">
                                        <!-- rating -->
                                        <small>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </small> <span class="text-muted small">5 (469)</span>
                                    </div>
                                    <!-- price -->
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div>
                                            <span class="text-dark">$32</span> <span class="text-decoration-line-through text-muted">$35</span>
                                        </div>
                                        <!-- btn -->
                                        <div>
                                            <a href="#!" class="btn btn-primary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg> Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <div class="col">
                            <!-- card -->
                            <div class="card card-product">
                                <div class="card-body">
                                    <!-- badge -->
                                    <div class="text-center position-relative">
                                        <div class=" position-absolute top-0">
                                            <span class="badge bg-danger">hot</span>
                                        </div>

                                        <a href="shop-single.html">
                                            <!-- img --><img src="~/Content/assets/images/products/product-img-4.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid">
                                        </a>
                                        <!-- action btn -->
                                        <div class="card-product-action">
                                            <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist"><i class="bi bi-heart"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- heading -->
                                    <div class="text-small mb-1">
                                        <a href="#!" class="text-decoration-none text-muted">
                                            <small>
                                                Snack &amp;
                                                Munchies
                                            </small>
                                        </a>
                                    </div>
                                    <h2 class="fs-6"><a href="shop-single.html" class="text-inherit text-decoration-none">Onion Flavour Potato</a></h2>
                                    <div class="text-warning">
                                        <!-- rating -->
                                        <small>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                        </small> <span class="text-muted small">3.5 (456)</span>
                                    </div>
                                    <!-- price -->
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div>
                                            <span class="text-dark">$3</span> <span class="text-decoration-line-through text-muted">$5</span>
                                        </div>
                                        <!-- btn -->
                                        <div>
                                            <a href="#!" class="btn btn-primary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg> Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <div class="col">
                            <!-- card -->
                            <div class="card card-product">
                                <div class="card-body">
                                    <!-- badge -->
                                    <div class="text-center position-relative">
                                        <a href="shop-single.html"><img src="~/Content/assets/images/products/product-img-5.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                        <!-- action btn -->
                                        <div class="card-product-action">
                                            <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist"><i class="bi bi-heart"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- heading -->
                                    <div class="text-small mb-1">
                                        <a href="#!" class="text-decoration-none text-muted">
                                            <small>
                                                Instant
                                                Food
                                            </small>
                                        </a>
                                    </div>
                                    <h2 class="fs-6">
                                        <a href="shop-single.html" class="text-inherit text-decoration-none">Salted Instant Popcorn </a>
                                    </h2>
                                    <div class="text-warning">
                                        <!-- rating -->
                                        <small>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                        </small> <span class="text-muted small">4.5 (39)</span>
                                    </div>
                                    <div class="d-flex justify-content-between mt-4">
                                        <div>
                                            <span class="text-dark">$13</span> <span class="text-decoration-line-through text-muted">$18</span>
                                        </div>
                                        <!-- btn -->
                                        <div>
                                            <a href="#!" class="btn btn-primary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg> Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <div class="col">
                            <!-- card -->
                            <div class="card card-product">
                                <div class="card-body">

                                    <!-- badge -->
                                    <div class="text-center position-relative ">
                                        <div class=" position-absolute top-0">
                                            <span class="badge bg-danger">Sale</span>
                                        </div>
                                        <a href="shop-single.html">
                                            <!-- img --><img src="~/Content/assets/images/products/product-img-6.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid">
                                        </a>
                                        <!-- action btn -->
                                        <div class="card-product-action">
                                            <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View"></i></a>
                                            <a href="shop-wishlist.html" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist"><i class="bi bi-heart"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- heading -->
                                    <div class="text-small mb-1">
                                        <a href="#!" class="text-decoration-none text-muted">
                                            <small>
                                                Dairy, Bread
                                                &amp;
                                                Eggs
                                            </small>
                                        </a>
                                    </div>
                                    <h2 class="fs-6">
                                        <a href="shop-single.html" class="text-inherit text-decoration-none">Blueberry Greek Yogurt</a>
                                    </h2>
                                    <div>
                                        <!-- rating -->
                                        <small class="text-warning">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                        </small> <span class="text-muted small">4.5 (189)</span>
                                    </div>
                                    <!-- price -->
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div>
                                            <span class="text-dark">$18</span> <span class="text-decoration-line-through text-muted">$24</span>
                                        </div>
                                        <!-- btn -->
                                        <div>
                                            <a href="#!" class="btn btn-primary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg> Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <div class="col">
                            <!-- card -->
                            <div class="card card-product">
                                <div class="card-body">
                                    <!-- badge -->
                                    <div class="text-center position-relative">
                                        <a href="shop-single.html"><img src="~/Content/assets/images/products/product-img-7.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                        <!-- action btn -->
                                        <div class="card-product-action">
                                            <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist"><i class="bi bi-heart"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- heading -->
                                    <div class="text-small mb-1">
                                        <a href="#!" class="text-decoration-none text-muted">
                                            <small>
                                                Dairy, Bread
                                                &amp;
                                                Eggs
                                            </small>
                                        </a>
                                    </div>
                                    <h2 class="fs-6">
                                        <a href="shop-single.html" class="text-inherit text-decoration-none">Britannia Cheese Slices</a>
                                    </h2>
                                    <div class="text-warning">
                                        <!-- rating -->
                                        <small>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </small> <span class="text-muted small">5 (345)</span>
                                    </div>
                                    <!-- price -->
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div>
                                            <span class="text-dark">$24</span>
                                        </div>
                                        <!-- btn -->
                                        <div>
                                            <a href="#!" class="btn btn-primary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg> Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <div class="col">
                            <!-- card -->
                            <div class="card card-product">
                                <div class="card-body">
                                    <!-- badge -->
                                    <div class="text-center position-relative">
                                        <a href="shop-single.html"><img src="~/Content/assets/images/products/product-img-8.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                        <!-- action btn -->
                                        <div class="card-product-action">
                                            <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist"><i class="bi bi-heart"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- heading -->
                                    <div class="text-small mb-1">
                                        <a href="#!" class="text-decoration-none text-muted">
                                            <small>
                                                Instant
                                                Food
                                            </small>
                                        </a>
                                    </div>
                                    <h2 class="fs-6">
                                        <a href="shop-single.html" class="text-inherit text-decoration-none">Kellogg's Original Cereals</a>
                                    </h2>
                                    <div class="text-warning">
                                        <!-- rating -->
                                        <small>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                        </small> <span class="text-muted small">4 (90)</span>
                                    </div>
                                    <!-- price -->
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div>
                                            <span class="text-dark">$32</span> <span class="text-decoration-line-through text-muted">$35</span>
                                        </div>
                                        <!-- btn -->
                                        <div>
                                            <a href="#!" class="btn btn-primary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg> Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <div class="col">
                            <!-- card -->
                            <div class="card card-product">
                                <div class="card-body">
                                    <!-- badge -->
                                    <div class="text-center position-relative">
                                        <a href="shop-single.html"><img src="~/Content/assets/images/products/product-img-9.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                        <!-- action btn -->
                                        <div class="card-product-action">
                                            <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist"><i class="bi bi-heart"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- heading -->
                                    <div class="text-small mb-1">
                                        <a href="#!" class="text-decoration-none text-muted">
                                            <small>
                                                Snack &amp;
                                                Munchies
                                            </small>
                                        </a>
                                    </div>
                                    <h2 class="fs-6">
                                        <a href="shop-single.html" class="text-inherit text-decoration-none">Slurrp Millet Chocolate </a>
                                    </h2>
                                    <div class="text-warning">
                                        <!-- rating -->
                                        <small>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                        </small> <span class="text-muted small">4.5 (67)</span>
                                    </div>
                                    <!-- price -->
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div>
                                            <span class="text-dark">$3</span> <span class="text-decoration-line-through text-muted">$5</span>
                                        </div>
                                        <!-- btn -->
                                        <div>
                                            <a href="#!" class="btn btn-primary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg> Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <div class="col">
                            <!-- card -->
                            <div class="card card-product">
                                <div class="card-body">
                                    <!-- badge -->
                                    <div class="text-center position-relative">
                                        <a href="shop-single.html"><img src="~/Content/assets/images/products/product-img-10.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                        <!-- action btn -->
                                        <div class="card-product-action">

                                            <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist"><i class="bi bi-heart"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- heading -->
                                    <div class="text-small mb-1">
                                        <a href="#!" class="text-decoration-none text-muted">
                                            <small>
                                                Dairy, Bread
                                                &amp;
                                                Eggs
                                            </small>
                                        </a>
                                    </div>
                                    <h2 class="fs-6"><a href="shop-single.html" class="text-inherit text-decoration-none">Amul Butter - 500 g</a></h2>
                                    <div class="text-warning">
                                        <!-- rating -->
                                        <small>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                        </small> <span class="text-muted small">3.5 (89)</span>
                                    </div>
                                    <div class="d-flex justify-content-between mt-4">
                                        <div>
                                            <span class="text-dark">$13</span> <span class="text-decoration-line-through text-muted">$18</span>
                                        </div>
                                        <!-- btn -->
                                        <div>
                                            <a href="#!" class="btn btn-primary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg> Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-8">
                        <div class="col">
                            <!-- nav -->
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link  mx-1 rounded-3 " href="#" aria-label="Previous">
                                            <i class="feather-icon icon-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item "><a class="page-link  mx-1 rounded-3 active" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link mx-1 rounded-3 text-body" href="#">2</a></li>

                                    <li class="page-item"><a class="page-link mx-1 rounded-3 text-body" href="#">~/Content.</a></li>
                                    <li class="page-item"><a class="page-link mx-1 rounded-3 text-body" href="#">12</a></li>
                                    <li class="page-item">
                                        <a class="page-link mx-1 rounded-3 text-body" href="#" aria-label="Next">
                                            <i class="feather-icon icon-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
                                        }