@using ECommerceStore.Models;
@{
    ViewBag.Title = "MainView";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div id="loader">
    @{ Html.RenderPartial("_loader");}
</div>
<div id="DivForm">
    @{ Html.RenderPartial("Newform");}
</div>

<div id="DivList">
    @{ Html.RenderPartial("List");}
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Content/CustomJS/SubCategory.js"></script>
