@model SharedModel.Models.Category

@{
    ViewBag.Title = "Newform";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<div class="content-wrapper" data-select2-id="9">
    <div class="page-header">
        <h3 class="page-title">Sub Category </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"> Category</li>
                <li class="breadcrumb-item"><a href="#">Sub Category</a></li>
            </ol>
        </nav>
    </div>
    <div class="row">

        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Fill Sub Category Form</h4>

                    <form class="forms-sample">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleSelectGender">Category :</label>
                                    <select class="form-control" id="DDlCategory" name="p_id">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputName1">Sub Category Name :</label>
                                    <input type="text" class="form-control" id="category_name" name="category_name" placeholder="Name">
                                </div>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="loader"></div>



    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        BindCategoryDDl();
    })
    function BindCategoryDDl() {
        $.ajax({
            url: '/SubCategory/BindCategoryDDl',
            type: 'POST',
            success: function (data) {
                $(data).each(function (i, item) {
                    $('#DDlCategory').append('<option value="' + item.id + '">' + item.category_name + '</option>');
                })
              },
        error: function () {
            alert("error");
        }
    });
    }
</script>